* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #000000;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;


}


header a {
    text-decoration: none;
    color: blanchedalmond;


}

h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: center;

}

h2 {
    text-align: center;
    color: blanchedalmond;
}

h3 {
    color: blanchedalmond;
}

h4 {
    color: black;
    font-size: 200%;
}

.fixed-logo img {
    width: 50px;
}


.nav-links {
    /* occupies all the space in the row*/
    flex: 1;
    text-align: center;
    top: 0;
}

.nav-links ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

#menu {
    /*removes bulletpoints ect.. */
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
}

.underline-1 {
    border-bottom: 1px solid blanchedalmond;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}

main {
    /* makes main element take up any surplus space*/
    flex: 1 0 auto;
    margin-top: 97px;

}

/*Begin with roza*/
#banner {
    height: 800px;
    width: 100%;
    background: url(image/home.jpeg) no-repeat center center/cover;
}



/*text details*/
.begin {
    font-size: 200%;
    position: absolute;
    width: 100%;
    padding-top: 350px;
    color: blanchedalmond;
    letter-spacing: 1px;
    font-family: 'stencil std', fantasy;
    text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

/*second page of home*/

.offer {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.package-1 p {
    color: blanchedalmond;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.package {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: blanchedalmond;
}

.package-1 {
    flex-basis: 31%;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.package-1:hover {
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);


}

/* third part of home */

.gym {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.gym-room{
    flex-basis:31%;
    border-radius:10px;
    margin-bottom:5%;
    text-align:left;
}

.gym-room img {
    width:30%;
    border-radius:10px;
}

.room p {
    color: blanchedalmond;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px;
    flex-basis: 31%;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.room:hover {
    box-shadow: 0 0 30px 0 rgb(0, 0, 0);
}

/*banner and text for about*/
#about-banner {
    height: 700px;
    width: 100%;
    background-color: #000;
}


/* styling text for about title */
#about-begin {
    font-size: 200%;
    position: absolute;
    width: 100%;
    padding-top: 150px;
    color: blanchedalmond;
    letter-spacing: 1px;
    font-family: 'stencil std', fantasy;
    text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000;
}

/* styling text for about paragraph */
#about-text {
    text-align: center;
    font-size: 100%;
    position: absolute;
    width: 100%;
    padding-top: 300px;
    color: blanchedalmond;
    letter-spacing: 2px;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;

}

#about-banner2 {
    height: 400px;
    width: 100%;
    background-color: blanchedalmond;
}

/*positioning the location title*/
#about-begin2 {
    font-size: 200%;
    position: absolute;
    width: 100%;
    padding-top: 50px;
    color: black;
    letter-spacing: 1px;
    font-family: 'stencil std', fantasy;

}
/* styling text for about paragraph */
#about-text2 {
    text-align: center;
    font-size: 100%;
    position: absolute;
    width: 100%;
    padding-top: 100px;
    color: black;
    letter-spacing: 2px;
}

.map{
    text-align: start;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    height: 50px;
    padding: 20px 50px;

}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    background: url(image/sign-up.jpeg) no-repeat center center/cover ;
}

form {
    margin-top: 50px;
    text-align: center;
}

form h4 {
    margin-bottom: 70px;
    font-size: 40px;

}


input {
    display: block;
    width: 350px;
    height: 40px;
    margin: 30px 0;
    border:none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid black;
    background: transparent;
}

button{
    width: 350px;
    height: 40px;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 30px;
}

button {
    box-shadow: inset 0 0 0 0 black;
    color: blanchedalmond;
    background-color: #000;
    opacity: 0.5;
}

button:hover {
    box-shadow: inset 100px 0 0 0 black;
    color: blanchedalmond;
    opacity: 1;
}

::placeholder {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color:white;
    opacity: 1;
}

/* fixed FOOTER */
.url {
    list-style-type: none;
    font-size: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.url a {
    letter-spacing: relative;
    color: blanchedalmond;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        align-content: center;

    }

    #logo {
        font-size: 150%;
        line-height: 20px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 90px;
    }

}

/*when hovering over nv its highlighted */
@media screen and (min-width:992px) {
    #menu>a {
        box-shadow: inset 0 0 0 0 blanchedalmond;
        color: #000000;
    }

    a:hover {
        box-shadow: inset 100px 0 0 0 blanchedalmond;
        color: #000000;
    }

    /*added hover to header as without it the header disapears*/
    h1:hover {
        box-shadow: inset 100px 0 0 0 #000000;
        color: blanchedalmond;
    }
}



@media screen and (max-width:700px) {
    .package {
        flex-direction: column;
    }

}

@media screen and (max-width:460px) {
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #000000;
        height: 30px;
        padding: 10px 30px;
    }
    .url {
        list-style-type: none;
        font-size: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    
    .url a {
        letter-spacing: relative;
        color: blanchedalmond;
    }
}

