/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #000000;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width:100%;
    
    
}


header a {
    text-decoration: none;
    color:whitesmoke;
    

}

h1{
    font-family: '', sans-serif;
    text-transform:uppercase;
    letter-spacing: 3px;
    text-align: center;

}

img {
    width:50px;
}


.nav-links{
    /* occupies all the space in the row*/
    flex:1;
    text-align:center;
    top:0;
}

.nav-links ul li{
    display:inline-block;
    padding:8px 12px;
    position:relative;
}

#menu{
    /*removes bulletpoints ect.. */
    list-style-type:none;
    letter-spacing: 4px;
    font-size: 110%;
}

.active{
    border-bottom: 1px solid white;
}



body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    color: #3a3a3a;
    font-family: 'Lato', sans-serif ;
}

main{
    background-color:wheat;
    /* makes main element take up any surplus space*/
    flex: 1 0 auto;
    margin-top:97px;

}

.url{
    list-style-type: none;
    font-size: 150%;
    align-items: center;
    display:flex;
    justify-content: center;
}

.url a {
    letter-spacing: 10px;
    color: #ffffff;
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        align-content: center;
        
}

    #logo {
        font-size: 150%;
        line-height: 20px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 90px;
    }
}

/*when hovering over nv its highlighted */
@media screen and (min-width:992px) {
    #menu > a {
        box-shadow: inset 0 0 0 0 #ffffff;
        color: #000000;
    }
    a:hover {
        box-shadow: inset 100px 0 0 0 #ffffff;
        color: #000000;
    }
    /*added hover to header as without it the header disapears*/
    h1:hover {
        box-shadow: inset 100px 0 0 0 #000000;
        color: #ffffff ;
    }
}